<!DOCTYPE html>
<html lang="en">

<head>
    <title>error!!!!</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="icon" href="/static/chatIcon.png">
</head>

<body>

    <div class="jumbotron">
        <h1 class="display-4 text-center">ho no! ho no! ho nononononoooo!</h1>
        <p class="text-center">Something went wrong while displaying this webpage</p>
        <p class="text-center" style="background-color: black;color:blanchedalmond;">{{errno}}</p>
        <p class="text-center">Please check you entered data is correct are not!!</p>
        <p class="lead text-center" style="margin-bottom: -30px">
            <a class="btn btn-primary" href="/messenger/" role="button">Reload</a>
        </p>


    </div>
    <hr class="my-4">
    <p class="text-center"><img style="width:350px;margin-top: -40px"
            src="https://i.pinimg.com/originals/ef/8b/bd/ef8bbd4554dedcc2fd1fd15ab0ebd7a1.gif">
    </p>


</body>

</html>